.PhotoStoriesView-content {
  padding-top: 40px;
}

@media (min-width: 320px) {
  .PhotoStoriesView__List-items {
    columns: 2;

    column-width: 100px;
    column-gap: 5px;

    column-fill: balance;
  }

  .PhotoStoriesView__List-item {
    margin-bottom: 5px;
  }
}

@media (min-width: 1000px) {
  .PhotoStoriesView__List-items {
    display: block;

    columns: auto;

    column-width: 200px;
    column-gap: 10px;

    column-fill: balance;

    padding-left: 25px; /* column will add an extra padding on the last column */
  }

  .PhotoStoriesView__List-item {
    margin-bottom: 40px;
  }
}

.PhotoStoriesView__List-empty {
  display: block;

  color: #ebebeb;

  font-size: 22px;
  font-weight: bold;

  text-align: center;
}
